.form {
	display: flex;
	flex-direction: column;
	box-shadow: 1px 2px 10px 0px #c5c5c5;
	padding: 20px;
	min-width: 400px;
}

.form__fields {
	display: block;
	margin-bottom: 12px;
}

.form__field {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

.form__field-label {
	display: block;
	font-size: 18px;
	margin-bottom: 12px;
}

.form__field-input {
	height: 32px;
	margin: 4px;
	width: calc(100% - 8px);
	box-sizing: border-box;

	border-radius: 100px;
	font-size: 15px;
	padding: 0 10px;
	border: none;
	outline: 0;
	box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #c5c5c5;
}

.form__field-input:-webkit-autofill,
.form__field-input:-webkit-autofill:focus {
	border: 1px dotted #63476f;
	box-shadow: 0 0 0px 1000px #edf8f6 inset, 0 0 0px 4px #edf8f6;
}

.form__controls {
	display: flex;
	flex-direction: row;
}

.form__control {
	height: 40px;
	font-size: 15px;
	padding: 0 16px;

	border-radius: 100px;
	background: #34bba3;
	color: #FFFFFF;
	cursor: pointer;

	margin-left: 8px;
}

.form__control:first-child {
	margin-left: 0px;

}


.form__control_secondary {
	background: #c5c5c5;
}

.form__control:hover {
	background-color: #1ca28a;
}

.form__control:active {
	background-color: #009379;
}

/* Фокус-кольцо */
.form__control:focus,
.form__field-input:focus {
	box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #FBD1DC;
	outline: none;
}
